{% include 'navbar.html' %} {% load static %}
<h1>Members</h1>

<table border="1">
  {% for x in mymembers %}
  <tr>
    <td>{{ x.id }}</td>
    <td>{{ x.firstname }}</td>
    <td>{{ x.lastname }}</td>
    <td><a href="update/{{ x.id }}">update</a></td>
    <!--在原始碼的表格新增1欄到更新資料表資料的表單連結，使用帶有參數的非固定連結update/{{ x.id }}-->
    <td><a href="delete/{{ x.id }}">delete</a></td>
  </tr>
  {% endfor %}
</table>

<p>
  <a href="add">Add member</a>
</p>

<!--
{% for x in mymembers %}
    mymembers就是context裡面的Key，而實際上取得的Value則是QuerySet，接著用For迴圈把QuerySet裡面的Record逐一拿出來放到變數x

{{ x.id }}
    取出該筆紀錄的id值

{{ x.firstname }}
    取出該筆紀錄的firstname值

{{ x.lastname }}
    取出該筆紀錄的lastname值

{% endfor %}
    結束For迴圈區塊
-->
