{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}" />
<navbar>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="/day10">DAY10</a></li>
    <li><a href="/day11">DAY11</a></li>
    <li><a href="/index">DAY13 Django Records in Template</a></li>
    <li><a href="/day16">DAY16</a></li>
    <li>
      <a href="https://ithelp.ithome.com.tw/articles/10303172"
        >【Day 20】Django Template Tags 補充篇(1) – If & Logical Operators</a
      >
    </li>
    <li>
      <a href="https://ithelp.ithome.com.tw/articles/10303417"
        >【Day 21】Django Template Tags 補充篇(2) – For Loop</a
      >
    </li>
    <li><a href="/testing_day20">DAY20_Testing</a></li>
    <li><a href="/testing_day21">DAY21_Testing</a></li>
  </ul>
</navbar>
<hr />
