{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}" />
<navbar>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="/day10">DAY10</a></li>
    <li><a href="/day11">DAY11</a></li>
    <li><a href="/index">DAY13 Django Records in Template</a></li>
    <li><a href="/day16">DAY16</a></li>
    <li>
      <a href="https://ithelp.ithome.com.tw/articles/10303172"
        >【Day 20】Django Template Tags 補充篇(1) – If & Logical Operators</a
      >
    </li>
    <li>
      <a href="https://ithelp.ithome.com.tw/articles/10303417"
        >【Day 21】Django Template Tags 補充篇(2) – For Loop</a
      >
    </li>
    <li><a href="/testing_day20">DAY20_Testing</a></li>
    <li><a href="/testing_day21n22">DAY21&22_Testing</a></li>
    <li><a href="/testing_day23n24n25">DAY23&24&25_Testing</a></li>
    <li><a href="/day26">DAY26</a></li>
    <li><a href="/testing_day27">DAY27_Testing</a></li>
    <li><a href="/testing_day28">DAY28_Testing</a></li>
    <li><a href="/day29">DAY29</a></li>
    <li>
      <a href="https://ithelp.ithome.com.tw/articles/10308084"
        >【Day 30】Django 網站部署篇 - PythonAnywhere</a
      >
    </li>
  </ul>
</navbar>
<hr />
